<!doctype html>
<html>
<head>

<link rel="shortcut icon" href="/favicon.ico"></head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">DNF MusicGen</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Upcoming Features</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container" id="main-container">
    <div class="row">
        <div class="col-8">
          <h1>DNF Music Generator</h1>
          <img id="pianorollimg" src="imgs/pianorolls/current.png" alt="pianorolls" class="img-thumbnail">
    
        </div>
        <div class="col-4">
          <div id="latent-space-sliders"></div>
        </div>
    </div>
    
  </div>
  <script>window.z0 = "{{z0}}"</script>

<script src="/js/bundle.js"></script><script src="/js/0.chunk.js"></script><script src="/js/main.chunk.js"></script></body>


</html>