<!doctype html>
<html>
<head>
    <!-- ============= CSS Dependencies ================== -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.1/css/bootstrap-slider.min.css">

    <!-- ============= Custom CSS ================== -->
    <!-- Slider -->
    <link rel="stylesheet" type="text/css" href="../css/slider.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">DNF MusicGen</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Upcoming Features</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container" id="main-container">
    <div class="row">
        <div class="col-8">
          <h1>DNF Music Generator</h1>
          <img id="pianorollimg" src="imgs/pianorolls/current.png" alt="pianorolls" class="img-thumbnail">
    
        </div>
        <div class="col-4">
          <div id="latent-space-sliders"></div>
        </div>
    </div>
    
  </div>


</body>

  <!-- ============= Dependencies ================== -->
  <!-- Bootstrap & jQ-->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.js" crossorigin></script>

  <!-- React -->
  <script src="{{ url_for('static', filename='node_modules/react/cjs/react.development.js')}}"></script>
  <script src="{{ url_for('static', filename='node_modules/react-dom/cjs/react-dom.development.js')}}"></script>
  <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>

  <script src="{{ url_for('static', filename='node_modules/rc-slider/dist/rc-slider.js')}}"></script>


  <!-- ============= Custom Scripts ================== -->
  
  <script type="text/babel" src="../js/slider.js"></script>


</html>